@import '../../assets/stylesheets/variables';

.input__component {
  &--input {
    width: 100%;
    // background-color: #f6f7f9;
    background-color: transparent;
    border: none;
    // border: 1px solid #f6f7f9;
    color: #575757;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    // border-radius: 23px;
    padding: $spacing-s $spacing-m;
    outline: none;
    box-sizing: border-box;
    text-overflow: ellipsis;

    &:focus {
      &--wrapper {
        &-placeholder {
          color: green;
        }
      }
    }
    &:enabled {
      &:focus {
        // box-shadow: $shadow-m;
      }
    }
    &-disabled {
      // background-color: $neutral-100;
    }
  }

  &--wrapper {
    margin-top: 30px;
    // margin-top: 35px;
    // margin-bottom: 35px;

    &.focus {
      margin-top: 0px;
    }

    &-placeholder {
      pointer-events: none;
      position: absolute;

      p {
        font-family: 'Roboto';
        font-weight: 400;
        color: #9da1ae;
        font-size: 17px;
      }
    }
  }

  .inner-addon {
    // position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;
    // padding: 0px 16px;
    border: 1px solid #f6f7f9;
    border-radius: 23px;
    background-color: #ffffff;
  }

  .right-addon input {
    // padding-right: 30px;
  }

  .inner-addon .glyphicon {
    // position: absolute;
    padding-right: 10px;
    // pointer-events: none;
    color: #ffc400;
    display: flex;
  }

  .right-addon .glyphicon {
    // right: 5px;
  }
}
