h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $Montserrat-Regular;
  // font-weight: 400;

  b,
  &.bold {
    font-family: $Montserrat-Bold;
    // font-weight: 700;
  }
}

h1 {
  font-size: $fs-h1;
  line-height: $lh-h1;
}

h2 {
  font-size: $fs-h2;
  line-height: $lh-h1;
  color: #242424;
}

// h3 {
//   font-size: $fs-h3;
//   line-height: 29px;
// }

// h4 {
//   font-size: $fs-h4;
//   line-height: 25px;
// }

// h5 {
//   font-size: $fs-h5;
//   line-height: 20px;
// }

// h6 {
//   font-size: $fs-h6;
//   line-height: 18px;
// }

p {
  margin: 0;
  font-family: $Montserrat-Regular;
  // font-weight: 400;
  // font-size: $fs-paragraph;
  // line-height: 22px;
  b,
  &.bold {
    font-family: $Montserrat-Bold;
    // font-weight: 600;
  }
}

span {
  font-family: $Montserrat-Regular;
}

a {
  cursor: pointer;
  font-size: $fs-btn-link;
  font-family: $Montserrat-Regular;
  // font-weight: 400;
  line-height: 21px;
  text-decoration: none;

  &.underline {
    text-decoration: underline;
  }
}

// input {
//   font-size: $fs-paragraph;
//   font-family: $ff-Cabin-Regular;
//   line-height: 22px;
// }

button {
  font-family: $Montserrat-Regular;
  font-size: $fs-button;
  line-height: $lh-button;
}
